@import url(reset.css);
/*title font-family:*/
@import url(http://fonts.googleapis.com/css?family=Mrs+Sheppards);
@import url(http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre);
/*body font-family:*/
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);



body {
	background-image: url(../img/pizza1.jpg);
	background-repeat: repeat;
	font-family: 'Walter Turncoat', sans-serif;
	font-size: 18px;
	padding: 10px;
}

p {
	margin-bottom: 10px;
	margin: 20px;
}


section p {
	text-indent: 50px;
}

.connect {
	margin-left: 260px;
}
.content-box1 {
	width: 80%;
	background-image: url(../img/ricepaper_v3.png);
	margin: 30px;
	margin-bottom: 0px;
	box-shadow: 5px 5px 60px #A6559F;
}

.content-margin {
	width: 75%;
	
	margin: 30px;
	margin-left: 100px;
	

}

.margin {
	margin: 10px;
} 
.title {
	font-family: 'Mrs Sheppards', sans-serif;
	color: #14020D;
	font-size: 80px;
	margin-bottom: 10px;
}

.logo {
	float: left;
	margin-right: 10px;
	width: 230px;
}

.pic {
	clear: both;
	float: left;
	margin-right: 10px;
	
	margin-bottom: 20px;
	width: 250px;
}

.pic2 {
	float: right;
	margin-left: 20px;
	
	margin-bottom: 20px;
	width: 250px;
}

.head {
	clear: both;
	float: left;
	margin-right: 20px;
	width: 100px; 
}
 
.des {
	font-family: 'Averia Gruesa Libre', sans-serif;
	color: #14020D;
	font-size: 20px;
}

nav {
	width: 80%;
	border-radius: 5px;
}
nav li {
	display: inline-block;
	font-size: 30px;

}
nav a {
	display: inline-block;
	padding: 5px;
	color: #14020D;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.border {
	margin-top: 10px;
	border-bottom: 2px solid;
	font-size: 40px;
	
	width: 300px;
	

}

.border2 {
	border-bottom: 2px solid;
	font-size: 25px;
	width: 100px;
}

.front-margin {
	margin-right: 30px;
}

.highlight {
	clear: both;
	font-size: 120%;
	font-weight: bold;
}

.clear {
	clear: both;
}

.col {
	width: 350px;
	float: left;
	margin: 10px;
}

.col2 {
	width: 80%;
	margin: 20px;
} 

.name {
	font-weight: bold;
}

footer {
	color: #FFF;
	font-family: 'Walter Turncoat', sans-serif;
	font-size: 20px;
	bottom: 40px;
	right: 30px;
	max-width: 194px;
	padding-bottom: 10px;
	padding-left: 10px;
	position: fixed;
	display: block;
}
.foot {
	border-color: #A6559F;
	border-top: 5px solid;
	border-bottom: 5px solid;
	margin-bottom: 5px;
}



div {
	display: block;
}

.h3 {
	color: #D9431B;
	font-weight: bold;	
}



.h5 {
	color: #14020D;

}
.mail {

	text-decoration: none;
}


.mail:hover {
	text-decoration: underline;
}

.grey-line {
	border-width: 2px;
	border-top-style: solid;
	margin-top: 100px;

	border-color: #DEDEDE;
}